@{
    ViewData["Title"] = "Parent Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
    <a href="@Url.Action("BookCoupons", "Parent")">Go to booking page</a>
</div>
